APP_CONTAINER_NAME=noterag-app
APP_HOST_PORT=9000
SERVER_PORT=9000

POSTGRES_IMAGE=pgvector/pgvector:pg16
POSTGRES_CONTAINER_NAME=noterag-db
POSTGRES_HOST_PORT=5432
POSTGRES_DB=noterag
POSTGRES_USER=noterag
POSTGRES_PASSWORD=change-me

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/noterag
SPRING_DATASOURCE_USERNAME=noterag
SPRING_DATASOURCE_PASSWORD=change-me
